.section {
  margin: 20px 0;
  box-shadow: 2px 2px 7px #BEBEBE;
  border-radius: 5px;
}

.section__title {
  position: relative;
  padding: 15px;
  background: #F1F1F1;
  border-radius: 5px;
  font-weight: 700;
  list-style: none;
  cursor: pointer;
}

.section[open] .section__title {
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}

.section__title::after {
  content: url('../../icons/arrow.svg');
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all .2s linear;
}

.section[open] .section__title::after {
  transform: rotateX(180deg);
}

.section__content {
  padding: 15px;
  background: #FFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}