.drop-down {
  margin: 20px 0;
  box-shadow: 2px 2px 7px #BEBEBE;
  border-radius: 5px;
}

.drop-down__title-container {
  position: relative;
  padding: 15px 20px;
  background: #F1F1F1;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
}

.drop-down__title-container::after {
  content: url('../../icons/arrow.svg');
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all .2s linear;
}

.drop-down[open] > .drop-down__title-container::after {
  transform: rotate(90deg);
}

.drop-down__title {
  margin: 0;
  font-size: 20px;
}

.drop-down__content {
  padding: 15px 20px;
  background: #FFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.drop-down__collapse-button {
  margin: 20px 0 0 auto;
  display: block;
  border: none;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
}