@import '../../variables.scss';

.drop-down {
  margin: 20px 0;
  border-radius: 20px;
  border: 8px solid $darkSeashell;
  color: $gunmetal;
  box-shadow: 4px 4px 7px 0px $almostBlack;

  &[data-is-nested="true"] {
    box-shadow: 1px 3px 3px $grey;
  }

  &[open] > .drop-down__title-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .drop-down__title-icon {
      transform: rotate(90deg);
    }
  }
}

.drop-down__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: $darkSeashell;
  border-radius: 10px;
  list-style: none;
  cursor: pointer;
}

.drop-down__title-icon {
  flex-shrink: 0;
  transition: all .2s linear;
}

.drop-down__title {
  margin: 0;
  font-size: 20px;
}

.drop-down__content {
  padding: 15px 10px;
  background: $white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.drop-down__collapse-button {
  margin: 20px 0 0 auto;
  display: block;
  border: none;
  background: transparent;
  color: $gunmetal;
  text-decoration: underline;
  cursor: pointer;
}