@import '../../variables.scss';

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;

  &__header {
    color: $seashell;
  }

  &__tile-container {
    display: flex;
    column-gap: 10px;
  }
}

.tile {
  min-height: 200px;
  min-width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  background: $white;
  border-radius: 25px;
  border: 7px solid $lightSilver;
  text-decoration: none;

  &:hover {
    transform: scale(0.99);
  }
}

.tile__icon-wrapper {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $lightSilver;
  border-radius: 50%;
}

.tile__icon {
  height: 40px;
  fill: $darkSilver;
}

.tile__name {
  font-size: 20px;
  color: $darkSilver;
  text-transform: capitalize;
}

.tile--work {
  cursor: not-allowed;

  .tile__name {
    text-transform: lowercase;
  }
}