.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;

  &__header {
    color: #CCD3DB;
  }
}

.tile {
  min-height: 200px;
  min-width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  background: #FFF;
  border-radius: 25px;
  border: 7px solid #CCD3DB;
  text-decoration: none;

  &:hover {
    transform: scale(0.99);
  }
}

.tile__icon-wrapper {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CCD3DB;
  border-radius: 50%;
}

.tile__icon {
  width: 50px;
  fill: #555C66;
}

.tile__name {
  font-size: 20px;
  color: #555C66;
  text-transform: capitalize;
}