@import '../../../variables.scss';

.table {
  width: 100%;
  border-collapse: collapse;

  &__caption {
    margin-bottom: 5px;
    font-weight: 700;
    text-align: left;
  }

  &__header {
    background-color: $seashell;
  }

  &__cell {
    border: 1px solid $gunmetal;
    padding: 5px 10px;
  }
}