.section__subheader {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.section__subheader:not(:first-of-type) {
  margin-top: 20px;
}

.section__image {
  display: block;
  max-width: 800px;
  margin: 10px auto 0;
}

.section__list {
  margin-top: 0px;
  padding-left: 25px;
}