@import '../../variables.scss';

@keyframes moveArrow {
  0% {
    transform: rotate(270deg) translateX(0);
  }

  50% {
    transform: rotate(270deg) translateX(5px);
  }

  100% {
    transform: rotate(270deg) translateX(0);
  }
}

.arrow-up {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 50%;
  box-shadow: 0 0 6px $silver;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s linear;

  &[data-is-visible="true"] {
    opacity: 1;
    pointer-events: initial;
  }

  &__icon {
    height: 22px;
    transform: rotate(270deg);
  }

  &:hover .arrow-up__icon {
    animation-name: moveArrow;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
}