@import '../../../variables.scss';

.button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $black;
  cursor: pointer;

  &[data-is-active='true'] {
    background-color: $silver;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;

  &--with-margin {
    margin-top: 1rem;
  }
}

.tests {
  flex-basis: 100%;
  order: 1;
}

.test__subtitle {
  font-weight: 700;

  &--greater {
    font-size: 18px;
  }
}