html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  word-break: break-word;
  background-color: #ECECEC;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}