@import './variables.scss';

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  word-break: break-word;
  background-color: $gunmetal;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
}